@media (max-width: 800px), (max-height: 600px) {
    .mobile-hide {
        display: none;
    }
}

@media (min-width: 801px) and (min-height: 601px)  {
    .mobile-show {
        display: none;
    }
}

@media (min-width: 421px) {
    .notification {
        min-width: 404px;
        max-width: 440px;
    }
}

.gap-none {
    gap: 0;
}

.select-none {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.w-fit-content {
    width: fit-content;
}

.inline-size-max-content {
    inline-size: max-content;
}

html {
    --lumo-base-color:             hsla(0, 0%, 100%, 1.00);
    --lumo-tint-5pct:              hsla(0, 0%, 100%, 0.05);
    --lumo-tint-10pct:             hsla(0, 0%, 100%, 0.10);
    --lumo-tint-20pct:             hsla(0, 0%, 100%, 0.20);
    --lumo-tint-30pct:             hsla(0, 0%, 100%, 0.30);
    --lumo-tint-40pct:             hsla(0, 0%, 100%, 0.40);
    --lumo-tint-50pct:             hsla(0, 0%, 100%, 0.50);
    --lumo-tint-60pct:             hsla(0, 0%, 100%, 0.60);
    --lumo-tint-70pct:             hsla(0, 0%, 100%, 0.70);
    --lumo-tint-80pct:             hsla(0, 0%, 100%, 0.80);
    --lumo-tint-90pct:             hsla(0, 0%, 100%, 0.90);
    --lumo-tint:                   hsla(0, 0%, 100%, 1.00);
    --lumo-contrast-5pct:          hsla(255, 0%, 0%, 0.05);
    --lumo-contrast-10pct:         hsla(255, 0%, 0%, 0.10);
    --lumo-contrast-20pct:         hsla(255, 0%, 0%, 0.20);
    --lumo-contrast-30pct:         hsla(255, 0%, 0%, 0.30);
    --lumo-contrast-40pct:         hsla(255, 0%, 0%, 0.40);
    --lumo-contrast-50pct:         hsla(255, 0%, 0%, 0.50);
    --lumo-contrast-60pct:         hsla(255, 0%, 0%, 0.60);
    --lumo-contrast-70pct:         hsla(255, 0%, 0%, 0.70);
    --lumo-contrast-80pct:         hsla(255, 0%, 0%, 0.80);
    --lumo-contrast-90pct:         hsla(255, 0%, 0%, 0.90);
    --lumo-contrast:               hsla(255, 0%, 0%, 1.00);
    --lumo-header-text-color:      hsla(255, 0%, 0%, 1.00);
    --lumo-body-text-color:        hsla(100, 0%, 0%, 0.90);
    --lumo-secondary-text-color:   hsla(100, 0%, 0%, 0.60);
    --lumo-tertiary-text-color:    hsla(100, 0%, 0%, 0.30);
    --lumo-disabled-text-color:    hsla(100, 0%, 0%, 0.30);
    --lumo-primary-color:          hsla(255, 0%, 20%, 1.0);
    --lumo-primary-color-50pct:    hsla(255, 0%, 20%, 0.5);
    --lumo-primary-color-10pct:    hsla(255, 0%, 20%, 0.1);
    --lumo-primary-text-color:     hsla(255, 0%, 0%, 1.00);
    --lumo-primary-contrast-color: hsla(0, 0%, 100%, 1.00);
    --lumo-error-color:            hsla(3, 85%, 48%, 1.00);
    --lumo-error-color-50pct:      hsla(3, 85%, 49%, 0.50);
    --lumo-error-color-10pct:      hsla(3, 85%, 49%, 0.10);
    --lumo-error-text-color:       hsla(3, 89%, 42%, 1.00);
    --lumo-error-contrast-color:   hsla(0, 0%, 100%, 1.00);
    --lumo-success-color:          hsla(145, 72%, 30%, 1.00);
    --lumo-success-color-50pct:    hsla(145, 72%, 31%, 0.50);
    --lumo-success-color-10pct:    hsla(145, 72%, 31%, 0.10);
    --lumo-success-text-color:     hsla(145, 85%, 25%, 1.00);
    --lumo-success-contrast-color: hsla(255, 0%, 100%, 1.00);
}

[theme~="dark"] {
    --lumo-base-color:             hsla(255, 0%, 20%, 1.0);
    --lumo-tint-5pct:              hsla(255, 0%, 0%, 0.05);
    --lumo-tint-10pct:             hsla(255, 0%, 0%, 0.10);
    --lumo-tint-20pct:             hsla(255, 0%, 0%, 0.20);
    --lumo-tint-30pct:             hsla(255, 0%, 0%, 0.30);
    --lumo-tint-40pct:             hsla(255, 0%, 0%, 0.40);
    --lumo-tint-50pct:             hsla(255, 0%, 0%, 0.50);
    --lumo-tint-60pct:             hsla(255, 0%, 0%, 0.60);
    --lumo-tint-70pct:             hsla(255, 0%, 0%, 0.70);
    --lumo-tint-80pct:             hsla(255, 0%, 0%, 0.80);
    --lumo-tint-90pct:             hsla(255, 0%, 0%, 0.90);
    --lumo-tint:                   hsla(255, 0%, 0%, 1.00);
    --lumo-contrast-5pct:          hsla(0, 0%, 100%, 0.05);
    --lumo-contrast-10pct:         hsla(0, 0%, 100%, 0.10);
    --lumo-contrast-20pct:         hsla(0, 0%, 100%, 0.20);
    --lumo-contrast-30pct:         hsla(0, 0%, 100%, 0.30);
    --lumo-contrast-40pct:         hsla(0, 0%, 100%, 0.40);
    --lumo-contrast-50pct:         hsla(0, 0%, 100%, 0.50);
    --lumo-contrast-60pct:         hsla(0, 0%, 100%, 0.60);
    --lumo-contrast-70pct:         hsla(0, 0%, 100%, 0.70);
    --lumo-contrast-80pct:         hsla(0, 0%, 100%, 0.80);
    --lumo-contrast-90pct:         hsla(0, 0%, 100%, 0.90);
    --lumo-contrast:               hsla(0, 0%, 100%, 1.00);
    --lumo-header-text-color:      hsla(0, 0%, 100%, 1.00);
    --lumo-body-text-color:        hsla(0, 0%, 100%, 0.90);
    --lumo-secondary-text-color:   hsla(0, 0%, 100%, 0.60);
    --lumo-tertiary-text-color:    hsla(0, 0%, 100%, 0.30);
    --lumo-disabled-text-color:    hsla(0, 0%, 100%, 0.30);
    --lumo-primary-color:          hsla(0, 0%, 100%, 1.00);
    --lumo-primary-color-50pct:    hsla(0, 0%, 100%, 0.50);
    --lumo-primary-color-10pct:    hsla(0, 0%, 100%, 0.10);
    --lumo-primary-text-color:     hsla(0, 0%, 100%, 1.00);
    --lumo-primary-contrast-color: hsla(255, 0%, 0%, 1.00);
    --lumo-error-color:            hsla(3, 79%, 49%, 1.00);
    --lumo-error-color-50pct:      hsla(3, 75%, 62%, 0.50);
    --lumo-error-color-10pct:      hsla(3, 75%, 62%, 0.14);
    --lumo-error-text-color:       hsla(3, 100%, 80%, 1.0);
    --lumo-error-contrast-color:   hsla(0, 0%, 100%, 1.00);
    --lumo-success-color:          hsla(145, 72%, 30%, 1.00);
    --lumo-success-color-50pct:    hsla(145, 92%, 51%, 0.50);
    --lumo-success-color-10pct:    hsla(145, 92%, 51%, 0.10);
    --lumo-success-text-color:     hsla(145, 85%, 46%, 1.00);
    --lumo-success-contrast-color: hsla(255, 0%, 100%, 1.00);
}

html, [theme~="dark"] {
    --lumo-shade-5pct:             hsla(0, 0%, 0%, 0.05);
    --lumo-shade-10pct:            hsla(0, 0%, 0%, 0.10);
    --lumo-shade-20pct:            hsla(0, 0%, 0%, 0.20);
    --lumo-shade-30pct:            hsla(0, 0%, 0%, 0.30);
    --lumo-shade-40pct:            hsla(0, 0%, 0%, 0.40);
    --lumo-shade-50pct:            hsla(0, 0%, 0%, 0.50);
    --lumo-shade-60pct:            hsla(0, 0%, 0%, 0.60);
    --lumo-shade-70pct:            hsla(0, 0%, 0%, 0.70);
    --lumo-shade-80pct:            hsla(0, 0%, 0%, 0.80);
    --lumo-shade-90pct:            hsla(0, 0%, 0%, 0.90);
    --lumo-shade:                  hsla(0, 0%, 0%, 1.00);
}
